@import "variables.css";

body {
  margin: 0;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  color: white; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  position: relative;
  background-color: var(--header-bg);
  color: white; 
  padding: 1em;
}

.header a:hover {
  text-decoration: underline;
}

.header__title {
  margin: 0 0 .5em; 
  text-align: center;
}

.nav {
  text-align: center;
}

.nav.open {
  left: 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  display: inline;
  margin-right: 1em;
}

#menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-out, opacity .3s ease-out;
}
#menu-backdrop.open {
  visibility: visible;
  opacity:.6;
}

.menu-btn {
  display: none;
  background-color: transparent;
  color: white;
  border: 0;
  position: absolute;
  top: 18px;
  left: 18px;
}

.main {
  max-width: 940px; 
  margin: 0 auto 1em;
  padding: 0 1em;
}

.courses__table {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.reviews__container {
  display: flex;
  justify-content: space-around;
}

.review-card {
  max-width: 400px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
}

.form__field {
  margin-bottom: .5em;
}

.footer {
  background-color: var(--header-bg);
  color: white; 
  padding: .1em 1em;
}

.copyright {
  font-size: .8em;
}

.to-top {
  background-color: white;
  color: #2f4b68;
  padding: .5em;
  border-radius: 10%;
  position: fixed;
  right: 5px;
  bottom: 50px;
}


@media screen and (max-width: 765px) {

  .header__title {
    margin: 0;
  }

  .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -200px;
    min-width: 200px;
    background-color: var(--bg-color);
    text-align: left;
    transition: left .3s ease-in-out;
    z-index: 100;
  }

  .nav.open {
    left: 0;
  }

  .nav__item {
    display: block;
    margin: 1em;
  }

  .menu-btn {
    display: inline-block;
  }
}
